/*
 * Device Tree overlay for Neodash CM5, dual 3.4
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	dsi_frag: fragment@0 {
		target = <&dsi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port {
				dsi_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
		};
	};

	i2c_frag: fragment@2 {
		target = <&i2c_csi_dsi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			panel: panel_disp0@45 {
				reg = <0x45>;
				compatible = "waveshare,3.4inch-panel";
				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	dsi_frag1: fragment@3 {
                target = <&dsi1>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        status = "okay";
                        port {
                                dsi_out1: endpoint {
                                        remote-endpoint = <&panel_in1>;
                                };
                        };
                };
        };

	i2c_frag1: fragment@4 {
                target = <&i2c_csi_dsi>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        status = "okay";

                        panel1: panel_disp1@45 {
                                reg = <0x45>;
                                compatible = "waveshare,3.4inch-panel";
				linux,fbdev-only;
                                port {
                                        panel_in1: endpoint {
                                                remote-endpoint = <&dsi_out1>;
                                        };
                                };
                        };
                };
        };

	fragment@5 {
		target = <&i2c0if>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&i2c_arm>;
		__dormant__ {
			status = "okay";
		};
	};
};
